.content-box {
    border: 1px solid #ddd;
    /* Light grey border */
    padding: 15px 30px;
    margin-bottom: 20px;
    background: #ebebeb;
}

.content-box-avatar .img_placeholder {
    display: none;
}

.select-section {
    display: flex;
    justify-content: flex-start;
}

.select-section > button {
    border: none;
    background-color: var(--color-base-beige);
    color: var(--color-mid-gray);
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 23px;
    text-transform: uppercase;
}

.select-section > .active {
    color: var(--color-base-green);
}

.log-content {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-direction: column;
    padding: 15px 25px;
    margin-bottom: 20px;
    position: relative;
    width: 100%;
    background-color: var(--color-lite-beige);
}

.log-header {
    margin-bottom: 10px;
}

.log-header > .title {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}

.log-header > .date {
    font-style: italic;
    font-size: 12px;
}

.log-body {
    font-size: 15px;
    font-weight: 500;
}

.log-body > p {
    margin-bottom: 0.5rem;
}

.log-body > ul {
    margin-left: 17px;
}

#change-log-section {
    display: none;
}